
.icon-arrow-curved:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-basket-alt:before { content: '\e803'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */